/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');



/* Hero section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-image2.png") no-repeat center center/cover;
    position: relative;
}

.hero-text {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Optional: for better readability */
    color: white; /* Optional: for better readability */
    padding: 10px; /* Optional: for spacing */
}

/* Main */

#card{
  height: 95%;
  text-align: left;
}

.card-header{
  font-size: 25px;
}

#contact-us{
  font-size: 20px;
  color:#ffffff;
}



/* Changed the Links colour so it is easier on the eye*/

a:visited {
  color: rgb(8, 8, 8);
  background-color: transparent;
  text-decoration: none;
}
/* footer */

footer {
  position: bottom sticky;
  bottom: 0;
  width: 100%;
  height: 20px;
  padding-left: 10px;
  font-size: 12px;
}

/* Contact page background image */
.background{
  height: 500px;
  width: 100%;
  background: url(../images/contact-image2.png) no-repeat center/cover;
  padding: 15px;

}
.box{
  background-color: rgb(16, 16, 16);
  opacity: 0.6;
  padding: 5px;
}

/* Contact form */
#contact-form{
  color: white;
  margin: 50px 50px;
  width: 70%;
}

/**/
@media screen and (min-width: 760px){
.nav-item{
    display:none;
}
}
