/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }


/* Hero section */
#hero {
    height: 500px;
    width: 100%;
    background: url("../images/hero-image2.png") no-repeat center center/cover;
    position: relative;
}

.hero-text {
    position: flex;
   
}

/* Borders for information cards */



/* Changed the Links colour so it is easier on the eye*/

a:visited {
  color: rgb(8, 8, 8);
  background-color: transparent;
  text-decoration: none;
}






/**/
@media screen and (min-width: 760px){
.nav-item{
    display:none;
}
}
